/*variables*/
:root {
	--background: white; 
	--text-color: #1D1C0C;
	--link-color: #1D1C0C;
	--lighter-text: #808080;
	--accent-color: #8f1d00;
}

body {
	background-color: var(--background);
	color: var(--text-color);
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	flex-wrap: wrap;
}

nav a {
	margin-right: 8px;
}

a {
	color: var(--link-color);
	text-decoration: none;
	border-bottom: 2px solid var(--link-color);
}

a:hover, a:focus {
	color: var(--accent-color);
	border-bottom: 2px dashed var(--accent-color);
	transition: 0.3s; 
}

h2 {
	margin-bottom: 10px;
	font-size: 20px;
}

h3 {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 18px;
}

.year {
	color: var(--lighter-text);
}

.container {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.cowboy {
	margin-top: 30px;
}

.cowboy img, .worm img {
	max-width: 400px;
	display: flex;
	align-content: center;
	margin-right: 10px;
}

.intro .lede {
	font-size: 32px;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 50px;
}

.intro {
	margin-bottom: 50px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.list .item {
	margin-bottom: 8px;
}

.grid {
	display: flex;
	align-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.grid .illo-item, .grid .comic-item, .grid .proj-item {
	max-width: 45%;
	margin: 10px;
}

.grid img {
	max-width: 100%;
}

.comic-item a, .proj-item a {
	border: none;
}

.grid .proj-item p, .grid .comic-item p {
	margin-top: 5px;
}

.comic-item a:hover, .proj-item a:hover {
	opacity: 0.5;
}

.social {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.social a {
	margin: 5px;
}

/*mobile styles*/
@media (max-width: 530px) {
	.grid .illo-item, .grid .comic-item, .grid .proj-item {
		max-width: 100%;
	}
}
